/* Configurar variáveis de ambiente */
:root {
    --cor_fundo: rgb(144, 8, 255);
    --cor_main: rgb(71, 0, 151);
    --cor_main_dark: rgb(30, 0, 44);
    --cor_texto: rgb(255, 255, 255);
}

/* Resetar o contorno da página */
* {
    outline: 0;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

/* *Reset da página */
body {
    margin: 0;
    padding: 0;
    background: var(--cor_fundo);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.2em;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    background: var(--cor_main);
    margin-top: 30px;
    border-radius: 20px;
}

header {
    background: var(--cor_main);
    display: flex;
    align-items: center;
    color: var(--cor_texto);
    height: 75px;
}

header img {
    width: 35%;
}

header h1 {
    width: 90%;
    text-align: center;
}

footer {
    background: var(--cor_main);
    height: 60px;
    text-align: center;
    color: var(--cor_texto);
    bottom: 0;
    position: absolute;
    width: 100%;
}

aside {
    width: 50%;
    margin: 0 auto;
}
aside img {
    width: 75%;
}

.contato {
    width: 50%;
}

form label,form input {
    display: block;
    margin-bottom: 20px;
    margin-left: 30px;
    width: 50%;
}

form button {
    margin-left: 30px;
    height: 50px;
    width: 20%;
    border-radius: 10px;    
    font-size: 25px;
}

form input {
    height: 40px;
    padding: 20px;
    font-size: 20px;
}

form input:focus {
    outline: 1px solid var(--cor_main_dark);
}