/* Configurar variáveis de ambiente */
:root {
    --cor_fundo: rgb(150,125,100);
    --cor_main: rgb(80,80,50);
    --cor_main_dark: rgb(40,40,20);
}

/* Resetar o contorno da página */
* {
    outline: 0;
}

/* *Reset da página */
body {
    margin: 0;
    padding: 0;
    background: var(--cor_fundo);
}

main {
    width: 80%;
    margin: 10px auto;
    background: var(--cor_main);
}

header {
    background: var(--cor_main);
}

footer {
    background: var(--cor_main);
}